.clock {
  margin: 20px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  justify-content: center;
  /* position: relative; */
  /* top: 50%;
  left: 50%; */
  /* display: inline-block; */
  /* transform: translate(-50%, -50%); */
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  color: #444;
  text-align: center;
  border: solid rgb(8, 60, 93) 5px;
  /* text-align: center; */
  background-color: white;
}

.clock::after {
  background: #aaa;
  justify-content: center;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /* position: relative; */
  z-index: 2;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* border: 2px solid #fff; */
}

.hour_hand {
  position: relative;
  width: 6px;
  height: 60px;
  background: #222;
  align-self: center;
  top: 30%;
  transform-origin: bottom;
}

.min_hand {
  position: relative;
  width: 4px;
  height: 80px;
  background: #444;
  align-self: center;
  top: 4.5%;
  transform-origin: bottom;
}

.sec_hand {
  position: relative;
  width: 2px;
  height: 118px;
  background: red;
  align-self: center;
  bottom: 35%;
  transform-origin: bottom;
}

.clock span {
  position: relative;
  font-weight: 700;
}

.one {
  bottom: 79%;
  left: 55%;
}

.two {
  bottom: 63%;
  left: 65%;
}

.three {
  bottom: 42%;
  left: 68%;
}

.four {
  left: 56%;
  bottom: 20%;
}

.five {
  left: 34%;
  bottom: 6%;
}

.six {
  left: 10%;
}

.seven {
  right: 15%;
  bottom: 5%;
}

.eight {
  right: 37%;
  bottom: 21%;
}

.nine {
  bottom: 42%;
  right: 47%;
}

.ten {
  bottom: 64%;
  right: 47%;
}
.eleven {
  bottom: 79%;
  right: 43%;
}
.twelve {
  bottom: 85%;
  right: 30%;
}
