@import url("cards.css");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

main {
  flex: 1;
}

.favoriteSite {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.form input {
  width: 150px;
  display: block;
  margin-bottom: 20px;
  height: 30px;
  font-size: 20px;
  margin-left: 30px;
}
.form {
  display: inline-block;
  margin-top: 6%;
}
.favoriteCity {
  color: white;
}
.favoriteList {
  display: inline-block;
  margin-top: 4%;
  width: 400px;
  height: 400px;
  padding: 0.5rem 0.5rem;
  vertical-align: middle;
  margin-left: 5%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  overflow-y: scroll;
}

.cityBackgroundImg {
  height: 100%;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  background-color: #083c5d;
  color: white;
  text-align: center;
  padding: 60px 0 20px 0;
}
