@import url("cards.css");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: 10px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px;
}

li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

li a:hover {
  color: black;
}

li:hover {
  background-color: rgb(128, 128, 128);
  border-radius: 10px;
}

main {
  flex: 1;
}

.cityBackgroundImg {
  height: 100%;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  background-color: #083c5d;
  color: white;
  text-align: center;
  padding: 60px 0 20px 0;
}
