ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: 10px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px;
}

li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

li a:hover {
  color: black;
}

li:hover {
  background-color: rgb(128, 128, 128);
  border-radius: 10px;
}

main {
  flex: 1;
}
.favoriteSite{
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.form input{
width: 150px;
display: block;
margin-bottom: 20px;
height: 30px;
font-size: 20px;
margin-left: 30px;
}
.form{
  display: inline-block;
  margin-top: 6%;
}
.favoriteCity{
  color: white;
}
.favoriteList{
  display: inline-block;
  margin-top: 4%;
  width: 400px;
  height: 400px;
  padding: 0.5rem 0.5rem;
  vertical-align: middle;
  margin-left: 5%;
  border: 1px solid black;
 overflow-y: scroll;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  background-color: #083c5d;
  color: white;
  text-align: center;
  padding: 60px 0 20px 0;
}
